<header>
    <div class="top-header">
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
        <div class="logo">
            <a href = '/'><img src="/images/logo/logo_p_horizontal.png" alt="logo de Antología Libros"></a>
        </div>
        <div class="search-bar">
            <form method="get">
                <input type="search" placeholder="buscar" name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="iconos">
            <div class="icono"><a href="<%= locals && locals.user ? 'javascript:void(0);' : '/users/login' %>" onclick="showUserOptions()"><i class="fas fa-user"></i></a></div>
            <% if (locals && locals.user) { %>
                <div class="session-div-769" id="session-div-769">
                    <p><%= user.first_name %> <%= user.last_name %><br><%= user.email %></p> 
                    <hr>
                    <a href="/users/profile">Mi perfil</a>
                    <hr>
                    <a href="/users/logout" id="logout">Cerrar Sesión</a>
                </div>
            <% } %>
            <div class="icono"><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></div>
        </div>
        <% if (locals && locals.user) { %>
            <div class="session-div" id="session-div">
                <p><%= user.first_name %> <%= user.last_name %></p>
                <p><%= user.email %></p> 
                <a href="/users/profile">Mi perfil</a>
                <a href="/users/logout">Cerrar Sesión</a>
            </div>
        <% } %>
    </div>
    <nav class="<%= locals && locals.user && locals.user.category && locals.user.category.name == 'Administrador' ? 'admin' : '' %>">
        <ul>
            <% if (locals && locals.user && locals.user.category && locals.user.category.name == 'Cliente') { %>
                <li><a href="/products/genres">Categorías</a></li>
                <li><a>Educativos</a></li>
                <li><a>Ficción</a></li>
                <li><a>Top 100</a></li>
                <li><a>Autores</a></li>
                <li><a>Editoriales</a></li>
                <li><a>Contacto</a></li>
            <% } else if (locals && locals.user && locals.user.category && locals.user.category.name == 'Administrador') { %>
                <li><a href="/products/genres">Categorías</a></li>
                <li><a href="/products">Listado de libros</a></li>
                <li><a href="/products/create">Nuevo libro</a></li>
                <li><a>Contacto</a></li>
            <% } else { %>
                <li><a href="/products/genres">Categorías</a></li>
                <li><a>Educativos</a></li>
                <li><a>Ficción</a></li>
                <li><a>Top 100</a></li>
                <li><a>Autores</a></li>
                <li><a>Editoriales</a></li>
                <li><a>Contacto</a></li>
            <% } %>     
        </ul>
    </nav>    
</header>