<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANTOLOGÍA : donde vive el saber</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cartstyles.css">
    <link rel="stylesheet" href="/css/index_productDetailStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
        <!--
            Para Carrousel
        -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <!--
            Fin Carrousel
        -->
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main>
        <section class="carrousel">
        <div class="container" style="margin-top: 20px; padding: 0;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
          
                <div class="item active">
                  <img src="/images/slides/slide01.webp" alt="Los Angeles" style="width:100%;">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p> 
                  </div>
                </div>
          
                <div class="item">
                  <img src="/images/slides/slide02.webp" alt="Chicago" style="width:100%;">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p> 
                  </div>
                </div>
              
                <div class="item">
                  <img src="/images/slides/slide03.webp" alt="New York" style="width:100%;">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p> 
                  </div>
                </div>
            
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </section>


        <section class="libros_titulares">
            <h3>NOVEDADES</h3>
            <div class="libros">
                <% if (locals && locals.lastOnes) { %>
                    <% lastOnes.forEach(book => { %>
                        <article>
                            <a href="/products/<%= book.id %>" class="image-link">
                                <img id="<%= book.id %>" src="/images/books/<%= book.image %>" alt="<%= book.title %>" class="product_img">
                            </a>
                            <div class="main-article">
                                <i class="fas fa-eye"></i>
                                <p class="price">$<%= book.price %></p>
                                <p class="discount">Disp: <%= book.stock %></p>
                                <h4 class="description"><%= book.title %></h4>
                            </div>
                            <div class="card-buy">
                                <a class="button-cart" href="/products/cart/create?book=<%= book.id %>">Agregar al carrito</a>
                                <button class="button-buy">Comprar</button>
                            </div>
                        </article>
                    <% }) %>
                <% } %>


<section class="libros_titulares">
    <h3>LOS MÁS BUSCADOS</h3>
    <div class="libros">
        <article>
            <a href="/products/13">
            <img src="/images/books/messianico.webp" alt="Messiánico" class="product_img"></a>
            <div class="main-article">
                <i class="fas fa-eye"></i>
                <p class="price">$12.500</p>
                <p class="discount">5% off</p>
                <h4 class="description">Messiánico</h4>
            </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=13">Agregar al carrito</a>
                <button class="button-buy">Comprar</button>                    
       
                </div>
        </article>
        <article>
            <a href="/products/7">
            <img src="/images/books/amores_imposibles.webp" alt="El amor es imposible" class="product_img"></a>
            <div class="main-article">
                <i class="fas fa-eye"></i>
                <p class="price">$11.000</p>
                <p class="discount">20% off</p>
                <h4 class="description">El Amor es Imposible</h4>
            </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=7">Agregar al carrito</a> 
                <button class="button-buy">Comprar</button>
                                    
            </div>
        </article>
        <article>
            <a href="/products/5"><img src="/images/books/el_viento_conoce_mi_nombre.webp" alt="El viento conoce mi nombre" class="product_img"></a>
            <div class="main-article">
                <i class="fas fa-eye"></i>
                <p class="price">$10.000</p>
                <p class="discount">10% off</p>
                <h4 class="description">El Viento Conoce Mi Nombre</h4>
            </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=5">Agregar al carrito</a>  
                <button class="button-buy">Comprar</button>                    
                </div>
        </article>
        <article>
            <a href="/products/10"><img src="/images/books/flores_barro.webp" alt="Flores en el barro" class="product_img"></a>
            <div class="main-article">
                <i class="fas fa-eye"></i>
                <p class="price">$9.900</p>
                <p class="discount">5% off</p>
                <h4 class="description">Flores en el Barro</h4>
            </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=10">Agregar al carrito</a>  
                <button class="button-buy">Comprar</button>                    
            </div>
        </article>
        <article>
            <a href="products/9"><img src="/images/books/libelula.webp" alt="El vuelo de la libelula" class="product_img">
            </a><div class="main-article">
                <i class="fas fa-eye"></i>
                <p class="price">$10500</p>
                <p class="discount">5% off</p>
                <h4 class="description">El Viaje de la Libelula</h4>
            </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=9">Agregar al carrito</a>  
                <button class="button-buy">Comprar</button>                    
            </div>
        </article>
        <article><a href="products/8">
            <img src="/images/books/la_ultima_encrucijada.webp" alt="La última encrucijada" class="product_img"></a>
                <div class="main-article">
                    <i class="fas fa-eye"></i>
                    <p class="price">$12.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="description">La Última encrucijada</h4>
                </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=8">Agregar al carrito</a>  
                <button class="button-buy">Comprar</button>                    
            </div>
        </article>
        <article><a href="/products/1">
            <img src="/images/books/alas_de_sangre.webp" alt="Alas de Sangre" class="product_img">
            </a><div class="main-article">
                <i class="fas fa-eye"></i>
                <p class="price">$5.800,5</p>
                <p class="discount">5% off</p>
                <h4 class="description">Alas de Sangre</h4>
            </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=1">Agregar al carrito</a>  
                <button class="button-buy">Comprar</button>                      
                </div>
        </article>
        <article><a href="products/12">
            <img src="/images/books/boquita.webp" alt="Boquita" class="product_img"></a>
            <div class="main-article">
                <i class="fas fa-eye"></i>
                <p class="price">$4.300</p>
                <p class="discount">40% off</p>
                <h4 class="description">Boquita</h4>
            </div>
            <div class="card-buy">
                <a class="button-cart" href="/products/cart/create?book=12">Agregar al carrito</a>  
                <button class="button-buy">Comprar</button>                     
            </div>
        </article>
    </div>
</section>

<style>
    @media (min-width: 768px) {
        .container {
            width: 100%;
        }
    }
    @media (min-width: 992px) {
        .container {
            width: 100%;
        }
    }
</style>

    </main>
    <%- include('../partials/footer.ejs') %>
    <script>
        let a = document.getElementById(22);
        console.log(a)
        console.log(a.offsetWidth + "px")
        console.log(a.offsetHeight + "px")
    </script>
</body>
</html>