<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/userHomeStyles.css">
    <!-- <link rel="stylesheet" href="css/cartstyles.css">-->
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.cdnfonts.com/css/verdana-pro-cond" rel="stylesheet">
                     
</head>

<body class="body">

    <%- include('../partials/header.ejs') %>
    
    <main class="registro">
        <div class="box titulo">
            <i class="fas fa-user-plus"></i><h1>Bienvenido</h1>
        </div>
            <h3>Usuario Home</h3>
        <main class="principalBox">
            <div class="faceBox">
                <img src="/images/profileImages/<%=user.image%>" alt="../../public/images/profileImages/<%=user.image%>"  style="max-width: 100px; height: auto; display: block; margin: auto;">
                <br><%=user.firstname%> <%=user.lastname%>
                <br><%=user.email%>
            </div>
            <br>

            <div class="preferBox">
                <div>
                    <h3>Preferencias</h3>
                </div>
                <div class="preferBox2">
                    <div class="divCheckBox"><input type="checkbox" class="checkbox"  name="Drama" id="">Terror</div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Novela</div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Ciencia Ficción<br></div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Economía<br></div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Salud<br></div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Medicina</td></div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Economía<br></div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Salud<br></div>
                    <div class="divCheckBox"><input type="checkbox" class="checkbox" name="Drama" id="">Medicina</td></div>
                    </div>
            </div>
            <br>

            <div class="directionBox">
               <div><h3>Domicilio</h3></div>
               <div class="directionBox2">
            Pais <select name="" id="">
                <option value="">Argentina</option>
            </select>

            Localidad <select name="" id="">
                <option value="">Catamarca</option>
            </select>

            Codigo Postal <input type="text" maxlength="8" size="8"> 

            Calle <input type="text" size="40">

        </div>
            </div>
        </main>
            
        <p></p>
        <h5>Novedades</h5>
        <h5>Recomendados</h5>
        <h5>Puntos</h5>
        <h5>Libros Adquiridos</h5>
        <h5></h5>
        <h5></h5>
       
    </main>

    <%- include('../partials/footer.ejs') %>

</body>


</html>