<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="css/cartstyles.css">-->
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.cdnfonts.com/css/verdana-pro-cond" rel="stylesheet">
                     
</head>

<body class="body">

    <%- include('../partials/header.ejs') %>
    
    <main class="registro">
        <div class="titulo">
            <i class="fas fa-user-plus"></i> <p><h1>Bienvenido</h1></p>
        </div>
            <h3>Usuario Home</h3>

        <table style="width:400px" border="1px">
            <tr>
                <th><img src="/images/profileImages/<%=user.image%>" alt="../../public/images/profileImages/<%=user.image%>"  style="max-width: 100px; height: auto; display: block; margin: auto;"></td>
      </th>       <th><%=user.firstname%></th>   
            </tr>
        
        <tr><td colspan="2">
            Preferencias
            <table>
                <tr>
                <td align="left">
                    <input type="checkbox" name="Drama" id="">Drama<br>
            <input type="checkbox" name="Drama" id="">Terror<br>
            <input type="checkbox" name="Drama" id="">Novela<br>
            <input type="checkbox" name="Drama" id="">Ciencia Ficción<br>
                </td>
                <td align="left"><input type="checkbox" name="Drama" id="">Política<br>
                    <input type="checkbox" name="Drama" id="">Economía<br>
                    <input type="checkbox" name="Drama" id="">Salud<br>
                    <input type="checkbox" name="Drama" id="">Medicina</td>
                <td align="left"><input type="checkbox" name="Drama" id="">Política<br>
                    <input type="checkbox" name="Drama" id="">Economía<br>
                    <input type="checkbox" name="Drama" id="">Salud<br>
                    <input type="checkbox" name="Drama" id="">Medicina</td>
            </tr>
            </table>
            <p></p>
            <p></p>

        </td></tr>

        </table>
        <p></p>
        <p></p>
        <h5>Novedades</h5>
        <h5>Recomendados</h5>
        <h5>Puntos</h5>
        <h5>Libros Adquiridos</h5>
        <h5></h5>
        <h5></h5>
       
    </main>

    <%- include('../partials/footer.ejs') %>

</body>


</html>