<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="css/cartstyles.css">-->
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.cdnfonts.com/css/verdana-pro-cond" rel="stylesheet">
                     
</head>

<body class="body">

    <%- include('../partials/header.ejs') %>
    
    <main class="registro">
        <div class="titulo">
            <i class="fas fa-user-plus"></i> <p>REGISTRO</p>
        </div>

        <form action="/register" method="POST" class="contenedor-padre" enctype="multipart/form-data">
            <section class="apellido-nombre">
                <label for="firstname">Nombre:</label>
                <label for="lastname">Apellido:</label>
                <input type="text" name="firstname" id="firstname" autocomplete="name"
                 value="<%= locals.old && old.firstname ? old.firstname : '' %>" required>
                <% if (locals && locals.errors && locals.errors.firstname) { %>
                    <div class="errorMessage firstnameError"><%= errors.firstname.msg %></div>     
                <% } %>

                <input type="text" name="lastname" id="lastname"
                value="<%= locals.old && old.lastname ? old.lastname : '' %>" required>
                <% if (locals && locals.errors && locals.errors.lastname) { %>
                    <div class="errorMessage lastnameError"><%= errors.lastname.msg %></div>     
                <% } %>
            </section>
    
            <!-- <div>
                <label for="username">Usuario:</label>
            </div>
            <input type="text" name="username" id="username" required placeholder="Introduzca un nombre de usuario"> -->
            
            <div>
                <label for="email">E-mail: </label>
            </div>
            <input type="email" name="email" placeholder="Ingrese su e-mail" autocomplete="email" id="email" 
            value="<%= locals.old && old.email ? old.email : '' %>" required>
            <% if (locals && locals.errors && locals.errors.email) { %>
                <div class="errorMessage"><%= errors.email.msg %></div>     
            <% } %>
            
            <div>
                <label for="password">Contraseña:</label>
            </div>
            <input type="password" required name="password" id="password"  placeholder="Ingrese una contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
            title="La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, una minúscula, un número y un carácter especial."
            value="<%= locals.old && old.password ? old.password : '' %>">
            <% if (locals && locals.errors && locals.errors.password) { %>
                <div class="errorMessage"><%= errors.password.msg %></div>     
            <% } %>
            
            <div>
                <label for="pwconfirm">Contraseña nuevamente:</label>
            </div>
            <input type="password" required name="pwconfirm" id="pwconfirm" placeholder="Repita la contraseña" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" value="<%= locals.old && old.pwconfirm ? old.pwconfirm : '' %>" >
            <% if (locals && locals.errors && locals.errors.pwconfirm) { %>
                <div class="errorMessage"><%= errors.pwconfirm.msg %></div>     
            <% } %>

            <div>
                <label for="avatar">Imagén de perfil:</label>
            </div>
            <input type="file" name="avatar" id="avatar" accept="image/*">
            
            <div class="btn-widht">
                <button class="btn-register" type="submit" name="registrar" id="registrar">REGISTRARME</button>
                <a href="./login"><button class="btn-account" type="button">¿Ya tienes cuenta?</button></a>
            </div>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>


</html>