<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Perfil</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/userHomeStyles.css">
    <!-- <link rel="stylesheet" href="css/cartstyles.css">-->
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.cdnfonts.com/css/verdana-pro-cond" rel="stylesheet">
                     
</head>

<body class="body">

    <%- include('../partials/header.ejs') %>
    
    <main class="registro">
        <h1>Bienvenido</h1>
    
        <main class="principalBox">
            <div class="bigContainer">
                <div class="roundContainer">
                    <form action="./updatePFIm?_method=PUT" id="manageImage" method="post" enctype="multipart/form-data">
                        <img src="/images/profileImages/<%=user.pf_image%>" alt="../../public/images/profileImages/<%=user.pf_image%>"  style="max-width: 100px; height: auto; display: block; margin: auto;">
                        <button type="button" form="manageImage">Cambiar Imagen</button>
                        <input type="text" name="id" value="<%=user.id%>" class="idInput">
                        <input type="file" name="avatar" id="avatar" accept="image/*">
                        <button type="submit" form="manageImage">Guardar</button>
                    </form>
                    <% if (locals && locals.errorPFIm) { %>
                        <ul>
                            <% locals.errorPFIm.forEach(error => { %>
                                <li><%= error.msg %></li>
                            <% }) %>
                        </ul>
                    <% } %>
                    
                </div>
                <div class="userDataContainer">
                    <p>Usuario: </p>
                    <p>Nombre: <%=user.first_name%> <%=user.last_name%></p>
                    <p>Email: <%=user.email%></p>
                </div>
            </div>
            
            <div class="container">
                <form action="./updatePD?_method=PUT" id="personalData" method="post">
                    <h4>Datos Personales</h4>                    
                    <button type="submit" form="personalData">Editar</button>
                    <input type="text" name="id" value="<%=user.id%>" class="idInput">
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" id="first_name" value="<%=user.first_name%>">
                    <label for="last_name">Apellido</label>
                    <input type="text" name="last_name" id="last_name" value="<%=user.last_name%>">
                    <label for="phone_number">Teléfono</label>
                    <input type="text" name="phone_number" id="phone_number" value="<%=user.phone_number%>">
                </form>
                <% if (locals && locals.errorsPD) { %>
                    <ul>
                        <% locals.errorsPD.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                    
                <% } %> 
                
            </div>
            <div class="container">
                <form action="./updatePW?_method=PUT" id="passwordManage" method="post">
                    <h4>Cambiar contraseña</h4>
                    <button type="submit" form="passwordManage">Editar</button>
                    <input type="text" name="id" value="<%=user.id%>" class="idInput">
                    <label for="password">Contraseña Actual</label>
                    <input type="password" name="password" id="password">
                    <label for="new_pw">Nueva Contraseña</label>
                    <input type="password" name="new_pw" id="new_pw">
                    <label for="pwconfirm">Repetir Nueva Contraseña</label>
                    <input type="password" name="pwconfirm" id="pwconfirm">
                </form>
                <% if (locals && locals.errorsPW) { %>
                    <ul>
                        <% locals.errorsPW.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                    
                <% } %> 
            </div>
            
            </div>
            <!--<div class="faceBox">
                <img src="/images/profileImages/<=user.image%>" alt="../../public/images/profileImages/<=user.image%>"  
                style="max-width: 100px; height: auto; display: block; margin: auto;">
                <br><=user.firstname%> <=user.lastname%>
                <br><=user.email%>
            </div> -->
            <br>

            <div class="container">
                
               <!-- <div><h3>Domicilio</h3></div>-->
               <form action="./updateAddress?_method=PUT" method="post" id="address">
                    <h4>Domicilio</h4>
                    <button type="submit" form="address">Editar</button>
                    <input type="text" name="idAddress" value="<%=user.address.id%>" class="idInput">

                    <label for="country">País</label>
                    <select name="country" id="country" data-country="<%= user.address && user.address.country ? user.address.country : '' %>">
                        <option value="" id="opt-default-country" disabled selected>Selecciona un opción</option>
                        <!--< countries.forEach(country => { %>
                            <option value="<= country.value %>" <= user.address.country == country.value ? 'selected' : '' %>
                                data-state-from-country="<= user.address.country == country.value && user.address.state ? user.address.state : '' %>"><= country.name %></option>
                        < }) %> -->

                        <!-- <option value="Chile" <= user.address.country == 'Chile' ? 'selected' : '' %>>Chile</option> -->

                    </select>

                    <label for="state">Localidad</label>
                    <select name="state" id="state" data-state="<%= user.address && user.address.state ? user.address.state : '' %>" disabled>
                        <option value="" id="opt-default-state" disabled selected>Selecciona un opción</option>
                    </select>

                    <label for="postal_code">Código Postal</label>
                    <input type="number" maxlength="8" size="8" name="postal_code" id="postal_code" 
                    value="<%= user.address &&  user.address.postal_code ? user.address.postal_code : '' %>">

                    <label for="city">Ciudad</label>
                    <input type="text" name="city" id="city"
                    value="<%= user.address &&  user.address.city ? user.address.city : '' %>">

                    <label for="street">Calle</label>
                    <input type="text" name="street" id="street"
                    value="<%= user.address &&  user.address.street ? user.address.street : '' %>">
                    <input type="text" name="id" value="<%=user.id%>" class="idInput">
                    
                    
               </form>
              <!-- <div class="directionBox2">

            Calle <input type="text" size="40">

        </div> -->
            </div>
        </main>
            
        <p></p>
       <!-- <h5>Novedades</h5>
        <h5>Recomendados</h5>
        <h5>Puntos</h5> -->
        <h5>Libros Adquiridos</h5>
       
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/user_home.js"></script>
</body>


</html>