<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
<title><% if (locals && locals.category) { %>
    Categoría: <%= category.name %>
<% } else { %>
    Libros por categorías
<% } %></title>
<link rel="stylesheet" href="/css/productDetailStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1><% if (locals && locals.category) { %>
            Categoría: <%= category.name %>
        <% } else { %>
            Libros por categorías
        <% } %></h1>
    
        <% if (locals && locals.noBooksMessage) { %>
            <p><%- locals.noBooksMessage %></p>
            <% if (locals.imageSrc) { %>
                <img src="<%- locals.imageSrc %>" alt="categoría sin libros" />
            <% } %>
        <% } else { %>
    
        <section class="genres">
            <% if (locals && locals.categories) { %>
                <% categories.forEach(category => { %>
                    <div class="box-genre">
                        <a href="/products/genres?genre=<%= category.name %>"><%= category.name %></a>
                    </div>
                <% }) %>
            <% } %>
        </section>

        <section class="recommendation">
            <div class="box-card">
                <% if (locals && locals.categoryBooks) { %>
                    <% locals.categoryBooks.forEach(categoryBook => { %>
                    
                        <div class="book-card">
                            <div class="card-product">
                                <div class="card-info">
                                    <img src="/images/books/<%= categoryBook.book && categoryBook.book.image ? categoryBook.book.image : 'cover-not-available.png' %>" alt="Portada de <%= categoryBook.book.title %> ">
                                    <hr>
                                    <h3><a href="/products/<%= categoryBook.book && categoryBook.book.id %>"><%= categoryBook.book.title %></a></h3>
                                    <p><a href="">Author: <%= categoryBook.authors && categoryBook.authors[0].name %></a></p>
                                    <p><a href="">Editorial: <%= categoryBook.book.editorial.name %></a></p>
                                </div>
                                <div class="card-buy">
                                    <a class="button-read" href="/products/<%= categoryBook.book.id %>">VER MÁS</a>
                                    <button class="button-cart">AGREGAR AL CARRITO</button>
                                </div>
                            </div>
                        </div>
                    
                        <% }) %>
                        <% } %>
                    </div>
                </section>
            <% } %>
        </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>