<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
    <title>Registrar libro</title>
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Registrar un nuevo libro</h1>
        <section class="formulario-CU">
            <form method="POST" action="/products/add" enctype="multipart/form-data">
                <div class="form-body">
                    <div class="form-group-ancho">
                        <label for="title">Título</label>
                        <input id="title" name="title" type="text" 
                        value="<%= locals.old && old.title ? old.title : '' %>" required> 
                        <% if (locals && locals.errors && locals.errors.title) { %>
                            <div class="errorMessage"><%= errors.title.msg %></div>     
                        <% } %>
                    </div> 

                    <div class="form-group-ancho">
                        <label for="abstract">Resumen</label>
                        <textarea id="abstract" 
                        name="abstract" rows="6"><%= locals.old && old.abstract ? old.abstract : '' %></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="editorial">Editorial</label>
                        <select name="editorial" id="editorial">
                            <% editorials.forEach(editorial => { %>
                                <option value="<%= editorial.id %>" 
                                    <%= locals.old && old.editorial && old.editorial == editorial.id ? 'selected': '' %>><%= editorial.name %></option>   
                            <% }) %>
                        </select>
                        <!-- <input id="editorial" name="editorial" type="text"
                        value="<= locals.old && old.editorial ? old.editorial : '' %>"> -->
                    </div>

                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <input id="image" name="image" type="file" accept="image/*" required>
                        <% if (locals && locals.errors && locals.errors.image) { %>
                            <div class="errorMessage"><%= errors.image.msg %></div>     
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="author">Autor</label>
                        <!-- <input id="author" name="author" type="text"
                        value="<= locals.old && old.author ? old.author : '' %>" required> -->
                        <select name="author" id="author" multiple required>
                            <% authors.forEach(author => { %>
                                <option value="<%= author.id %>"
                                 <%= locals.old && old.author && old.author.includes(author.id) ? 'selected': '' %>><%= author.name %></option>
                            <% }) %>
                        </select>
                        <% if (locals && locals.errors && locals.errors.author) { %>
                            <div class="errorMessage"><%= errors.author.msg %></div>     
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="genre" class="for-select">Género</label>
                        <select id="genre" name="genre" multiple>
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <option value="<%= categories[i].id %>"><%= categories[i].name %></option>   
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language">Idioma</label>
                        <input id="language" name="language" type="text"
                        value="<%= locals.old && old.language ? old.language: '' %>" required>
                        <% if (locals && locals.errors && locals.errors.language) { %>
                            <div class="errorMessage"><%= errors.language.msg %></div>     
                        <% } %>
                    </div>
                    
                    <div class="form-group">
                        <label for="date" class="for-date">Fecha de Publicación</label>
                        <input id="date" name="date" type="date"
                        value="<%= locals.old && old.date ? old.date : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input id="isbn" name="isbn" type="text"
                        value="<%= locals.old && old.isbn ? old.isbn : '' %>" required> 
                        <% if (locals && locals.errors && locals.errors.isbn) { %>
                            <div class="errorMessage"><%= errors.isbn.msg %></div>     
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input id="price" name="price" type="number"
                        value="<%= locals.old && old.price ? old.price : '' %>" pattern="^\d*(\.\d{0,2})?$" step=".01" required>
                        <% if (locals && locals.errors && locals.errors.price) { %>
                            <div class="errorMessage"><%= errors.price.msg %></div>     
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input id="stock" name="stock" type="number"
                        value="<%= locals.old && old.stock ? old.stock : '' %>" required>
                        <% if (locals && locals.errors && locals.errors.price) { %>
                            <div class="errorMessage"><%= errors.stock.msg %></div>     
                        <% } %>
                    </div>
                </div>
                <br>
                <div class="info-button">
                    <button type="button">Cancelar</button>
                    <button type="submit" class="submit">Guardar</button>
                </div>
                
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>