<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
    <!-- <title>Editar book: <%= book.id %></title> -->
    <title>Editar Libro "<%= book.title %>"</title>
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.7.0/dist/multiple-select.min.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Editando libro:</h1>
        <h2><%= book.id %>-<%= book.title %></h2>
        <section class="formulario-CU">
            <form method="POST" action="/products/<%= book.id %>?_method=PUT" enctype="multipart/form-data" class = "productEditForm">
                <div class="form-body">
                    <div class="form-group-ancho">
                        <label for="title">Título</label>
                        <% if (locals && locals.old && old.title) { %>
                            <input id="title" name="title" type="text" value="<%= old.title %>" required>
                            <% if (locals && locals.errors && locals.errors.title) { %>
                                <div class="errorMessage"><small><%= errors.title.msg %></small></div>     
                            <% } %>
                        <% } else { %>
                            <input id="title" name="title" type="text" value="<%= book.title %>" required>
                        <% } %>
                        <span class="error-message" id="titleError"></span>

                    </div>

                    <div class="form-group-ancho">
                        <label for="abstract">Resumen</label>
                        <% if (locals && locals.old && old.abstract) { %>
                            <textarea id="abstract" name="abstract" rows="6"><%= old.abstract %></textarea>
                            <% if (locals && locals.errors && locals.errors.abstract) { %>
                                <div class="errorMessage"><small><%= errors.abstract.msg %></small></div>     
                            <% } %>
                        <% } else { %>
                            <textarea id="abstract" name="abstract" rows="6"><%= book.abstract %></textarea>
                        <% } %>
                        <span class="error-message" id="abstractError"></span>

                    </div>

                    <div class="form-group">
                        <label for="editorial">Editorial</label>
                        <select name="editorial" id="editorial">
                            <!-- <option value="" disabled selected>Selecciona uno</option> -->
                            <% editorials.forEach(editorial => { %>
                                <option value="<%= editorial.id %>" 
                                    <%= book.editorial && editorial.id == book.editorial.id ? 'selected': '' %>><%= editorial.name %></option>   
                            <% }) %>
                        </select>
                    </div>
    

                    <div class="form-group">
                        <label for="language">Idioma</label>
                        <% if (locals && locals.old && old.language) { %>
                            <input id="language" name="language" type="text" value="<%= old.language %>" required>
                        <% } else { %>
                            <input id="language" name="language" type="text" value="<%= book.language %>" required>
                        <% } %>
                        
                        <% if (locals && locals.errors && locals.errors.language) { %>
                            <div class="errorMessage"><small><%= errors.language.msg %></small></div>     
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label for="author">Autor</label>
                        <select name="author" id="author" multiple="multiple" size="6" required>
                            <% if (locals && locals.old && old.author) { %>
                                <% authors.forEach(author => { %>
                                    <option value="<%= author.id %>"
                                     <%= locals.old && locals.authorIds && old.author && authorIds.includes(Number(author.id)) ? 'selected': '' %>><%= author.name %></option>
                                <% }) %>
                            <% } else { %>
                                <% authors.forEach(author => { %>
                                    <option value="<%= author.id %>"
                                    <%= locals && locals.authorIds && book.authors && authorIds.includes(Number(author.id)) ? 'selected': '' %>><%= author.name %></option>
                                <% }) %>
                            <% } %>
                            
                        </select>
                        <% if (locals && locals.errors && locals.errors.author) { %>
                            <div class="errorMessage"><small><%= errors.author.msg %></small></div>     
                        <% } %>
                    </div>
                    
                    <div class="form-group">
                        <label for="genre" class="for-select">Género</label>
                        <select id="genre" name="genre" multiple="multiple" size="6">
                            <% if (locals && locals.old && old.genre) { %>
                                <% for( let i = 0; i < categories.length; i++ ) { %>
                                    <option value="<%= categories[i].id %>"
                                        <%= locals.old && locals.genreIds && old.genre && genreIds.includes(Number(categories[i].id)) ? 'selected': '' %>><%= categories[i].name %></option>   
                                <% } %>
                            <% } else { %>
                                <% for( let i = 0; i < categories.length; i++ ) { %>
                                    <!-- locals && locals.authorIds && book.authors && authorIds.includes(Number(author.id)) -->
                                    <option value="<%= categories[i].id %>" <%= locals.genreIds && genreIds.includes(Number(categories[i].id)) ? 'selected': '' %>><%= categories[i].name %></option> 
                                <% } %>
                            <% } %>
                            
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="date" class="for-date">Fecha de Publicación</label>
                        <% if (locals && locals.old && old.date) { %>
                            <input id="date" name="date" type="date" value="<%= old.date %>">
                        <% } else { %>
                            <input id="date" name="date" type="date" value="<%= book.date %>">
                        <% } %>
                        
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <% if (locals && locals.old && old.isbn) { %>
                            <input id="isbn" name="isbn" type="text" value="<%= old.isbn %>" required>
                        <% } else { %>
                            <input id="isbn" name="isbn" type="text" value="<%= book.isbn %>" required>
                        <% } %>
                        <% if (locals && locals.errors && locals.errors.isbn) { %>
                            <div class="errorMessage"><small><%= errors.isbn.msg %></small></div>     
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <% if (locals && locals.old && old.price) { %>
                            <input id="price" name="price" type="number" value="<%= old.price %>" step=".01" pattern="^\d*(\.\d{0,2})?$" required>
                        <% } else { %>
                            <input id="price" name="price" type="number" value="<%= book.price %>" step=".01" pattern="^\d*(\.\d{0,2})?$" required>
                        <% } %>
                        <% if (locals && locals.errors && locals.errors.price) { %>
                            <div class="errorMessage"><small><%= errors.price.msg %></small></div>     
                        <% } %>
                        <span class="error-message" id="priceError"></span>

                    </div>

                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <% if (locals && locals.old && old.stock) { %>
                            <input id="stock" name="stock" type="number"
                            value="<%= old.stock %>" required>
                        <% } else { %>
                            <input id="stock" name="stock" type="number"
                            value="<%= book.stock %>" required>
                        <% } %>
                        
                        <% if (locals && locals.errors && locals.errors.stock) { %>
                            <div class="errorMessage"><small><%= errors.stock.msg %></small></div>     
                        <% } %>
                    </div>

                    <div class="form-group">
                        <div class="contenedor-img">
                            <p class="titulo-seccion-img">Imagen actual</p>
                            <img src="/images/books/<%= book.image ? book.image : 'cover-not-available.png'  %>" alt="Imagen actual">
                            <br>
                            <label for="image">Nueva Imagen</label>
                            <br>
                            <% if (locals && locals.old && old.image) { %>
                                <input id="image" name="image" type="file" accept="image/*" value="<%= old.image %>">        
                                
                            <% } else { %>
                                <input id="image" name="image" type="file" accept="image/*" value="<%= book.image %>">        
                            <% } %>
                            <% if (locals && locals.errors && locals.errors.image) { %>
                                <div class="errorMessage"><small><%= errors.image.msg %></small></div>     
                            <% } %><br>
                            <span class="error-message" id="imageError"></span>

                        </div>
                        
                    </div>
                </div>
                <br>
                <div class="info-button">
                    <button type="button">Cancelar</button>
                    <button type="submit" class="submit">Guardar</button>
                </div>
                
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/validations/productEditValidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/multiple-select@1.7.0/dist/multiple-select.min.js"></script>
    <script>
        $(function () {
          $('select').multipleSelect()
        })
      </script>
</body>
</html>