<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antología - Listado de Libros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Listado de Libros:</h1>
        <section class="formulario-CU">
            <table class="tabla-listado">
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th class="bigScreen">Autor</th>
                    <th class="bigScreen">Editorial</th>
                    <th class="bigScreen">Género</th>
                    <th>Precio</th>
                    <th>Eliminar</th>
                </tr>
                
                <% books.forEach(item => { %>
                            
                <tr>
                    <td><%=item.id%></td>
                    <td><a href = "/products/<%= item.id %>"><%=item.title%></a></td>
                    <td class="bigScreen"><%=item.author%></td>
                    <td class="bigScreen"><%=item.editorial%></td>
                    <td class="bigScreen"><% item.genre.forEach(g => { %>
                        <a href="/products/genres?genre=<%= g.id %>"><%= g.name %><br></a><% }); %>
                    </td>
                                
                    <td>$ <%=item.price%></td>
                
                    <td>
                        <form class="delete" method="POST" action="/products/<%= item.id %>?_method=DELETE" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este libro?')">
                            <button class="btn-delete" type="submit">✖</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
                <tr></tr>
            </table>

        </section>
        <a href="/products/create"><button type="button">(+) Agregar Nuevo Libro</button></a><br><br>

    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>