<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetailStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Producto</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
</head>
<body>
    <%- include('../partials/header.ejs') %>

     <% if (locals && locals.book) { %>
        <main class="product-detail">
        
            <div class="box-product product-img">
                <div class="btn-group">
                     <a href="/products/<%= book.id %>/edit" class="btn-edit"><i class="fa-solid fa-pencil"></i>Editar</a>
                     <form class="slim" method="POST" action="/products/<%= book.id %>?_method=DELETE">
                        <button class="btn-delete" disabled><i class="fa-solid fa-xmark"></i>Eliminar</button>
                    </form>
                </div> 
                <img src="/images/books/<%= book.image ? book.image : 'cover-not-available.png'  %>" alt="Portada de <%= book.title %>">
            </div>
    
            <div class="box-product product-info">
                <div class="box-info product-buy">
                    <h1><%= book.title %></h1>
                    <hr>
                    <div class="info-data">
                        <p><span>Autor: </span><a href=""><%= book.author %></a></p>
                        <p><span>Editorial: </span><a href=""><%= book.editorial %></a></p>
                        <p><span>ISBN: </span> <%= book.isbn %> </p>
                        <div class="data-category">
                            <p><span>Categoría:</span></p>
                            <ul><% book.genre.forEach(g => { %>
                                <li><a href="/products/genres?genre=<%= g.id %>"><%= g.name %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                        
                    </div>
                    <hr>
                    <h2></h2>
                    <div class="info-button">
                        <h2><%= book.price %> ARS</h2>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
    
    
                </div>
                <div class="box-info synopsis">
                    <h2>SINOPSIS</h2>
                    <p><%= book.abstract %></p>
                </div>
            </div>
        </main>
    
        <section class="recommendation">
            <hr>
            <div class="box-card">
                <h2 class="section-title">MÁS DEL MISMO AUTOR</h2>
                <div class="card">
                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.author %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.author %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TITULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.author %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.author %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>
        
                    <button class="card-more-products">VER MÁS</button>    
                </div>
        
            </div>
            <hr>
            <div class="box-card">
                <h2 class="section-title">MÁS BUSCADOS</h2>
                <div class="card">
                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>        
        
                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>
        
                    <button class="card-more-products">VER MÁS</button>
    
                </div>
            </div>
        </section>  
    <% } %>
    

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>