<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
    <title>Registrar libro</title>
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.7.0/dist/multiple-select.min.css"> 
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Registrar un nuevo libro</h1>
        <section class="formulario-CU">
            <form method="POST" action="/products/add" enctype="multipart/form-data">
                <div class="form-body">
                    <div class="form-group-ancho">
                        <label for="title">Título</label>
                        <input id="title" name="title" type="text" 
                        value="<%= locals.old && old.title ? old.title : '' %>" required> 
                        <% if (locals && locals.errors && locals.errors.title) { %>
                            <br>
                            <div class="errorMessage"><small><%= errors.title.msg %></small></div>     
                        <% } %>
                        <label id="labelTitle" class="erroresJavascript"></label>
                    </div> 

                    <div class="form-group-ancho">
                        <label for="abstract">Resumen</label>
                        <textarea id="abstract" 
                        name="abstract" rows="6" required><%= locals.old && old.abstract ? old.abstract : '' %></textarea>
                        <% if (locals && locals.errors && locals.errors.abstract) { %>
                            <br>
                            <div class="errorMessage"><small><%= errors.abstract.msg %></small></div>     
                        <% } %>
                        <label id="labelAbstract" class="erroresJavascript"></label>
                    </div>
                    
                    <div class="form-group">
                        <label for="editorial">Editorial</label>
                        <select name="editorial" id="editorial">
                            <!-- <option value="" disabled selected></option> -->
                            <% editorials.forEach(editorial => { %>
                                <option value="<%= editorial.id %>" 
                                    <%= locals.old && old.editorial && old.editorial == editorial.id ? 'selected': '' %>><%= editorial.name %></option>   
                            <% }) %>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <input id="image" name="image" type="file" accept="image/*" required>
                        <% if (locals && locals.errors && locals.errors.image) { %>
                            <div class="errorMessage"><%= errors.image.msg %></div>     
                        <% } %>
                        <label id="labelImage" class="erroresJavascript"></label>
                    </div>
                    
                    <div class="form-group">
                        <label for="author">Autor</label>
                        <select name="author" id="author" multiple required>
                            <% authors.forEach(author => { %>
                                <option value="<%= author.id %>"
                                 <%= locals.old && locals.authorIds && old.author && authorIds.includes(Number(author.id)) ? 'selected': '' %>><%= author.name %></option>
                            <% }) %>
                        </select>
                        <% if (locals && locals.errors && locals.errors.author) { %>
                            <div class="errorMessage"><small><%= errors.author.msg %></small></div>     
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label for="genre" class="for-select">Género</label>
                        <select id="genre" name="genre" multiple>
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <option value="<%= categories[i].id %>"
                                    <%= locals.old && locals.genreIds && old.genre && genreIds.includes(Number(categories[i].id)) ? 'selected': '' %>><%= categories[i].name %></option>   
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language">Idioma</label>
                        <input id="language" name="language" type="text"
                        value="<%= locals.old && old.language ? old.language: '' %>" required>
                        <% if (locals && locals.errors && locals.errors.language) { %>
                            <div class="errorMessage"><small><%= errors.language.msg %></small></div>     
                        <% } %>
                    </div>
                    
                    <div class="form-group">
                        <label for="date" class="for-date">Fecha de Publicación</label>
                        <input id="date" name="date" type="date"
                        value="<%= locals.old && old.date ? old.date : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input id="isbn" name="isbn" type="text"
                        value="<%= locals.old && old.isbn ? old.isbn : '' %>" required> 
                        <% if (locals && locals.errors && locals.errors.isbn) { %>
                            <div class="errorMessage"><small><%= errors.isbn.msg %></small></div>     
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input id="price" name="price" type="number"
                        value="<%= locals.old && old.price ? old.price : '' %>" pattern="^\d*(\.\d{0,2})?$" step=".01" required>
                        <% if (locals && locals.errors && locals.errors.price) { %>
                            <div class="errorMessage"><small><%= errors.price.msg %></small></div>     
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input id="stock" name="stock" type="number"
                        value="<%= locals.old && old.stock ? old.stock : '' %>" required>
                        <% if (locals && locals.errors && locals.errors.stock) { %>
                            <div class="errorMessage"><small><%= errors.stock.msg %></small></div>     
                        <% } %>
                    </div>
                </div>
                <br>
                <div class="info-button">
                    <button type="button">Cancelar</button>
                    <button type="submit" class="submit">Guardar</button>
                </div>
                
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/validations/productAddValidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/multiple-select@1.7.0/dist/multiple-select.min.js"></script>
    <script>
        $(function () {
          $('select').multipleSelect()
        })
      </script>
</body>
</html>