<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
    <title>Editar book: <%= book.id %></title>
    <link rel="stylesheet" href="/css/cartStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Editando libro:</h1>
        <h2><%= book.id %>-<%= book.title %></h2>
        <section class="formulario-CU">
            <form method="POST" action="/products/<%= book.id %>?_method=PUT" enctype="multipart/form-data">
                <div class="form-body">
                    <div class="form-group-ancho">
                        <label for="title">Título</label>
                        <input id="title" name="title" type="text" value="<%= book.title %>" required>
                    </div>

                    <div class="form-group-ancho">
                        <label for="abstract">Resumen</label>
                        <textarea id="abstract" name="abstract" rows="6"><%= book.abstract %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="author">Autor</label>
                        <input id="author" name="author" type="text" value="<%= book.author %>" required>
                    </div>
                    <div class="form-group">
                        <label for="editorial">Editorial</label>
                        <input id="editorial" name="editorial" type="text" value="<%= book.editorial %>">
                    </div>
                    <div class="form-group">
                        <div class="contenedor-img">
                            <p class="titulo-seccion-img">Imagen actual</p>
                            <img src="/images/books/<%= book.image ? book.image : 'cover-not-available.png'  %>" alt="Imagen actual">
                        </div>
                        
                        <label for="image">Imagen</label>
                        <input id="image" name="image" type="file" accept="image/*" value="<%= book.image %>">
                    </div>
                    <div class="form-group">
                        <label for="genre" class="for-select">Género</label>
                        <select id="genre" name="genre" multiple size="6">
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <option value="<%= categories[i].id %>" <%= categoryIndexes.includes(i) ? 'selected': '' %>><%= categories[i].name %></option>  
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language">Idioma</label>
                        <input id="language" name="language" type="text" value="<%= book.language %>" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="date" class="for-date">Fecha de Publicación</label>
                        <input id="date" name="date" type="date" value="<%= book.date %>">
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input id="isbn" name="isbn" type="text" value="<%= book.isbn %>" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input id="price" name="price" type="number" value="<%= book.price %>" step=".01" pattern="^\d*(\.\d{0,2})?$" required>
                    </div>
                </div>
                <br>
                <div class="info-button">
                    <button type="button">Cancelar</button>
                    <button type="submit" class="submit">Guardar</button>
                </div>
                
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>