<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetailStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title><%= book.title %> - ANTOLOGÍA Libros</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    
</head>
<body>
    <%- include('../partials/header.ejs') %>
     <% if (locals && locals.book) { %>
        <main class="product-detail">
        
            <div class="box-product product-img">
                <% if (locals && locals.user && locals.user.category && locals.user.category.name === 'Administrador') { %>
                    <div class="btn-group">
                        <a href="/products/<%= book.id %>/edit" class="btn-edit"><i class="fa-solid fa-pencil"></i>Editar</a>
                        <form class="slim" method="POST" action="/products/<%= book.id %>?_method=DELETE" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este libro?')">
                            <button class="btn-delete"><i class="fa-solid fa-xmark"></i>Eliminar</button>
                        </form>
                    </div> 
                <% } %>  
                <img src="/images/books/<%= book.image ? book.image : 'cover-not-available.png'  %>" alt="Portada de <%= book.title %>">
            </div>
    
            <div class="box-product product-info">
                <div class="box-info product-buy">
                    <h1><%= book.title %></h1>
                    <hr>
                    <div class="info-data">
                        <% if (book.authors) { %>
                            <p><span>Autor/es: </span></p>
                            <% book.authors.forEach(author => { %>
                                <p><a href="/products/authors?author=<%=  author.name %>"><%=  author.name %></a></p>
                            <% }) %>
                        <% } else { %>
                            <p><span>Autor/es: </span><a href="">Indefinido</a></p>
                        <% } %>

                        
                        <p><span>Editorial: </span><a href="/products/editorials?editorial=<%= book.editorial.name %>"><%= book.editorial ? book.editorial.name : 'Indefinido' %></a></p>
                        <p><span>ISBN: </span> <%= book.isbn %> </p>
                        <div class="data-category">
                            <p><span>Categoría:</span></p>
                            <ul><% book.genres.forEach(g => { %>
                                <li><a href="/products/genres?genre=<%= g.name %>"><%= g.name %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                        
                    </div>
                    <hr>
                    <h2></h2>
                    <div class="info-button">
                        <h2><%= book.price %> ARS</h2>
                        <!-- <a class="button-cart" href="/products/cart/create?book=<= book.id %>">Agregar al carrito</a>-->
                        <button class="button-buy">COMPRA AHORA</button>
                        <!--<button class="button-cart">AGREGAR AL CARRITO</button> -->
                        <button class="button-cart"><a href="/products/cart/create?book=<%= book.id %>">AGREGAR AL CARRITO</a></button>
                    </div>
    
    
                </div>
                <div class="box-info synopsis">
                    <h2>SINOPSIS</h2>
                    <p><%= book.abstract %></p>
                </div>
            </div>
        </main>
    
        <section class="recommendation">
            <hr>
            <div class="box-card">
                <h3 class="section-title">Reviews</h3>
                <div class="card">
                    <div class="card-review">
                        <p>Rating: <%= false ? '' : 'No disponible' %></p>
                        <div class="comment-block">
                            <div class="comment"><b>Comentarios</b></div>
                            <div class="rating"><b>Nota</b></div>
                            <% if (locals && locals.reviews && locals.reviews[0]) { %>
                                <% for( let index = 0; index < 2; index++ ) { %>
                                    <% if (locals.reviews[index]) { %>
                                        <div class="comment"><%= reviews[index].comment ? reviews[index].comment : '' %></div>
                                        <div class="rating"><%= reviews[index].rating ? reviews[index].rating : '' %></div>    
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>
                        <a href="">Ver todos</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="box-card">
                <h2 class="section-title">MÁS DEL MISMO AUTOR</h2>
                <div class="card">
                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.authors && book.authors[0] ? book.authors[0].name : 'Indefinido' %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.authors && book.authors[0] ? book.authors[0].name : 'Indefinido' %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.authors && book.authors[0] ? book.authors[0].name : 'Indefinido' %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href=""><%= book.authors && book.authors[0] ? book.authors[0].name : 'Indefinido' %></a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>
        
                    <button class="card-more-products">VER MÁS</button>    
                </div>
        
            </div>
            <hr>
            <div class="box-card">
                <h2 class="section-title">MÁS BUSCADOS</h2>
                <div class="card">
                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>        
        
                    <div class="card-product">
                        <div class="card-info">
                        <img src="/images/ejemploLibro.png" alt="">
                        <hr>
                        <h3><a href="">TÍTULO DEL LIBRO</a></h3>
                        <p><a href="">Nombre del autor</a></p>
                        <p><a href="">Editorial</a></p>
                        </div>
                        <hr>
                        <div class="card-buy">
                            <h3>$$$</h3>
                            <button class="button-buy">COMPRA AHORA</button>
                            <button class="button-cart">AGREGAR AL CARRITO</button>
                        </div>
                    </div>
        
                    <button class="card-more-products">VER MÁS</button>
    
                </div>
            </div>
        </section>  
    <% } %>
    

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>