<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Libros - ANTOLOGÍA Libros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main class="listProd-main">
        <h1>Listado de Libros</h1> 
        <section class="formulario-CU">
            <div style="overflow-x:auto;">
                <table class="tabla-listado">
                    <tr>
                        <th>ID</th>
                        <th>TÍTULO</th>
                        <th class="bigScreen">AUTOR</th>
                        <th class="bigScreen">EDITORIAL</th>
                        <th class="bigScreen">GÉNERO</th>
                        <th>PRECIO</th>
                        <th>ELIMINAR</th>
                    </tr>
                    
                    <% books.forEach(book => { %>
                                
                    <tr>
                        <td><%=book.id%></td>
                        <td><a href = "/products/<%= book.id %>"><%=book.title%></a></td>
                        <td class="bigScreen">
                            <% book.authors.forEach(author => { %>
                                <%= author.name %>
                            <% }); %>
                        </td>
                        <td class="bigScreen"><%=book.editorial.name%></td>
                        <td class="bigScreen"><% book.genres.forEach(genre => { %>
                            <a href="/products/genres?genre=<%= genre.id %>"><%= genre.name %><br></a><% }); %>
                        </td>
                                    
                        <td>$ <%=book.price%></td>
                    
                        <td>
                            <form class="delete" method="POST" action="/products/<%= book.id %>?_method=DELETE" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este libro?')">
                                <button class="btn-delete" type="submit">✖</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                    <tr></tr>
                </table>
            </div>
            
            
        </section>
        <a href="/products/create"><button class="addButton" type="button"><i class="fa-solid fa-plus"></i> NUEVO LIBRO</button></a>  
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>