<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cartstyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main>
        <h1>En el carrito</h1>
        <form>
            <div class="cabeceras">
                <div class="seccion-larga">Producto</div>
                <div class="seccion">Precio</div>
                <div class="seccion">Cantidad</div>
                <div class="seccion">Subtotal</div>
            </div>
            <% if (locals && locals.shoppingCart && shoppingCart.books && shoppingCart.books[0]) { %>
                <% shoppingCart.books.forEach(cartItem => { %>
                    <div class="contenedor">
                        <div class="fila-2">
                            <div class="btn-quitar">
                                <div class="quitar">X</div>
                            </div>
                            <div class="img-cart">
                                <img src="/images/books/<%= cartItem.image %>" alt="Portada de <%= cartItem.title %>">
                            </div>
                            <div class="datos">
                                <div class="titulo-libro"><%= cartItem.title %></div>
                                <div class="cant-precio">
                                    <div class="precio">$<%= cartItem.price %></div>
                                    <div class="botones-cantidad">
                                        <input type="button" value="-" class="btn-cant">
                                        <label id="label-cant" for="<%= cartItem.id %>">cantidad</label> 
                                        <input type="number" id="<%= cartItem.id %>" class="inp-cantidad" value="<%= cartItem.quantity ? cartItem.quantity : 1 %>" min="0">
                                        <input type="button" value="+" class="btn-cant">
                                    </div>
                                    
                                    <div class="subtotal">$1111.00</div>                        
                                </div>
                            </div>
                        </div>   
                        
                    </div>
                <% }) %>
            <% } %>
            <div class="total-pagar">
                <div class="total">TOTAL:</div>
                <div class="total-precio">$2222.00</div>
            </div>
            <div class="info-button">
            <!-- <div class="btn-form"> -->
                <a class="button" href="/"><i class="fa-regular fa-circle-left"></i> Buscar otro producto</a>
                <button type="submit" class="submit">Realizar Compra</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/shoppingCartFunctions.js"></script>
</body>
</html>