<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
    <title>Editar libro: <%= libro.id %></title>
    <link rel="stylesheet" href="/css/cartStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Editando libro:</h1>
        <h2><%= libro.id %>-<%= libro.title %></h2>
        <section class="formulario-CU">
            <form method="POST">
                <div class="form-body">
                    <div class="form-group-ancho">
                        <label for="title">Título</label>
                        <input id="title" name="title" type="text" value="<%= libro.title %>" required>
                    </div>

                    <div class="form-group-ancho">
                        <label for="abstract">Resumen</label>
                        <textarea id="abstract" name="abstract" rows="6"><%= libro.abstract %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="author">Autor</label>
                        <input id="author" name="author" type="text" value="<%= libro.author %>" required>
                    </div>
                    <div class="form-group">
                        <label for="editorial">Editorial</label>
                        <input id="editorial" name="editorial" type="text" value="<%= libro.editorial %>">
                    </div>
                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <input id="image" name="image" type="file" accept="image/*" value="<%= libro.image %>">
                    </div>
                    <div class="form-group">
                        <label for="genre" class="for-select">Género</label>
                        <select id="genre" name="genre" multiple>
                            <% for( let i = 0; i < categorias.length; i++ ) { %>
                                <% if (libro.genre.includes(categorias[i])) { %>
                                    <option value="<%= categorias[i].id %>" selected><%= categorias[i].nombre %></option>
                                <% } else { %>
                                    <option value="<%= categorias[i].id %>"><%= categorias[i].nombre %></option>
                                <% } %>     
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language">Idioma</label>
                        <input id="language" name="language" type="text" value="<%= libro.language %>" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="date" class="for-date">Fecha de Publicación</label>
                        <input id="date" name="date" type="date" value="<%= libro.date %>">
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input id="isbn" name="isbn" type="text" value="<%= libro.isbn %>" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input id="price" name="price" type="number" value="<%= libro.price %>" required>
                    </div>
                </div>
                <br>
                <div class="info-button">
                    <button type="button">Cancelar</button>
                    <button type="submit" class="submit">Guardar</button>
                </div>
                
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>