<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/headParcial.ejs') %>
    <title>Registrar libro</title>
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/productAddedStyles.css">
</head>

<body class="productAdded-body">
    <%- include('../partials/header.ejs') %>

    <main class="productAdded-main">
        <h1 class="productAdded-title">Libro agregado con éxito ✔️</h1>
        <section class="productAdded-section">
            <a href="/products/create">Cargar uno nuevo</a>
            <a href="/products/">Ver lista de libros</a>
        </section>
        <div class="lastProductAdded">
            <h3>Último libro agregado</h3>
            <p>Titulo: <%= lastBookAdded.title %></p>
            <p>ISBN: <%= lastBookAdded.isbn %></p>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>